<div class="sudoku-game">
    <div class="sudoku-grid">
        <app-cell *ngFor="let _ of [].constructor(81); let i = index"
        [cellIndex]="i" [highlighted]="highlightedCell == i"
        [(parentgrid)]="sudokuGrid" (parentgridChange)="update()" (gridClicked)="onGridClick($event)"
        ></app-cell>
    </div>
    <app-controls [(mode)]="mode" (modeChanged)="update()" (autoNoteClick)="onAutoNoteClick()" />
    <div class="sudoku-status">
        <p>
            Complete: {{complete?"Yes":"No"}}
        </p>
        <p>
            Valid: {{valid?"Yes":"No"}}
        </p>
    </div>
</div>