<div class="sudoku-game">
    <div class="sudoku-grid">
        <app-cell *ngFor="let _ of [].constructor(81); let i = index"
        [cellIndex]="i" [highlighted]="highlightedCell == i"
        [(parentgrid)]="sudokuGrid" (parentgridChange)="update()" (gridClicked)="gridClicked($event)"
        ></app-cell>
    </div>
    <div class="sudoku-controls">
        <fieldset>
            <legend>
                Mode
            </legend>
            <input type="radio" id="annotate-button" name="input-mode" value="annotate" [(ngModel)]="mode"/>
            <label for="annotate-button">Annotate</label>
            <input type="radio" id="mark-button" name="input-mode" value="mark" [(ngModel)]="mode"/>
            <label for="mark-button">Mark</label>
        </fieldset>
    </div>
    <div class="sudoku-status">
        <p>
            Complete: {{complete?"Yes":"No"}}
        </p>
        <p>
            Valid: {{valid?"Yes":"No"}}
        </p>
    </div>
</div>