.sudoku-controls {
    grid-column: 2;
    grid-row: 1;
}

.sudoku-mode {
    font-size: 150%;
    font-weight: bold;
}

.sudoku-mode.label {
    font-size: 125%;
}

.sudoku-controls button {
    background-color: #eee;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bold;
    transition-duration: 0.1s;
}

.sudoku-controls button:hover {
    background-color: #dee;
}

.sudoku-controls button:active {
    background-color: #abb;
}

.number-buttons {
    display: inline-grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.number-button {
    width: 4em;
    height: 4em;

    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}