<div class="sudoku-cell"
     [class.other]="cellIndex % 2 == 1"
     [class.highlighted]="highlighted"
     (click)="cellClick()"
     [ngSwitch]="parentgrid.cells[cellIndex].empty.toString()"
     >
     <div *ngSwitchCase="'false'" class="placed-value">
        {{
            parentgrid.cells[cellIndex].value
        }}
    </div>
    <div *ngSwitchCase="'true'" class="candidates">
        <div *ngFor="let _ of [].constructor(9); let i = index">
            <ng-container [ngSwitch]="parentgrid.cells[cellIndex].candidates[i]">
                <span *ngSwitchCase="cellMark.Candidate">
                    {{ i+1 }}
                </span>
                <span *ngSwitchDefault>
                    &nbsp;
                </span>
            </ng-container>
        </div>
    </div>
</div>