.sudoku-cell {
    background: #eee;
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudoku-cell.other {
    background: #ddd;
}

.sudoku-cell.highlighted {
    background: #bee;
}

.placed-value {
    font-size: 150%;
    font-weight: bold;
}

.candidates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    color: #aaa;
}